@font-face {
  font-family: Sarabun;
  src: url('/fonts/THSarabunNew.ttf');
}
@font-face {
  font-family: Sarabun-bold;
  src: url('/fonts/THSarabunNew Bold.ttf');
}

body {
  height: 100vh;
  margin: 0;
}

h1,
h2 {
  font-family: Sarabun-bold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-family: Sarabun;
  font-weight: bold;
}

span,
p,
label {
  font-family: Sarabun;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card-container {
  height: 70vh;
  overflow: auto;
}
